<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>API Demo v3</title>
</head>

<body>
    <div class="flex flex-col w-full">
        <div class="navbar bg-neutral text-neutral-content">
            <div class="navbar-start">
                <a class="btn btn-ghost normal-case text-xl">Demo API v3</a>
            </div>
            <div class="navbar-end">
                <button class="btn btn-ghost btn-circle">
                    <div class="indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                        </svg>
                        <span class="badge badge-xs badge-primary indicator-item"></span>
                    </div>
                </button>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <header class="bg-shadow shadow">
                    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
                        <h1 class="text-3xl font-bold tracking-tight text-white-900">Tickers</h1>
                    </div>
                </header>
                <div class="grid grid-cols-2 gap-4">
                    <div class="stats shadow">

                        <div class="stat">
                            <div class="stat-title">BTCUSDT</div>
                            <div class="stat-value">21,400</div>
                            <div class="stat-actions">
                                <button class="btn btn-sm btn-error">Clear</button>
                                <button class="btn btn-sm btn-info">Run</button>
                            </div>
                        </div>

                    </div>
                    <div class="stats shadow">

                        <div class="stat">
                            <div class="stat-title">BTCUSD</div>
                            <div class="stat-value">21,300</div>
                            <div class="stat-actions">
                                <button class="btn btn-sm btn-error">Clear</button>
                                <button class="btn btn-sm btn-info">Run</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <header class="bg-shadow shadow">
                    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
                        <h1 class="text-3xl font-bold tracking-tight text-white-900">Balances</h1>
                    </div>
                </header>
                <div class="overflow-x-auto">
                    <table class="table table-compact w-full">
                        <thead>
                            <tr>
                                <th>Asset</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>BTC</th>
                                <td>0.845655</td>
                            </tr>
                            <tr>
                                <th>USDT</th>
                                <td>10023.845655</td>
                            </tr>
                            <tr>
                                <th>USD</th>
                                <td>902.845655</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <header class="bg-shadow shadow">
            <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-white-900">Orders</h1>
            </div>
        </header>
        <div class="overflow-x-auto w-full">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                    <tr>
                        <th>Ticker</th>
                        <th>Side</th>
                        <th>Price</th>
                        <th>Size</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr>
                        <th>
                            BTCUSDT
                        </th>
                        <td>
                            SELL
                        </td>
                        <td>
                            10200.52
                        </td>
                        <td>0.05</td>
                    </tr>
                    <!-- row 2 -->
                    <tr>
                        <th>
                            BTCUSDT
                        </th>
                        <td>
                            BUY
                        </td>
                        <td>
                            10200.52
                        </td>
                        <td>0.05</td>
                    </tr>
                </tbody>
                <!-- foot -->
                <tfoot>
                    <tr>
                        <th>Ticker</th>
                        <th>Side</th>
                        <th>Price</th>
                        <th>Size</th>
                    </tr>
                </tfoot>

            </table>
        </div>
        <div class="toast">
            <div class="alert alert-info">
                <div>
                    <span>New order generated</span>
                </div>
            </div>
        </div>
        <br>
        <footer class="footer footer-center p-4 bg-base-300 text-base-content">
            <div>
                <p>Made by Urbano</p>
            </div>
        </footer>
    </div>
</body>

</html>