<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>API Demo v3</title>
</head>

<body>
    <div class="min-h-screen flex flex-col">
        <header>
            <div class="navbar bg-neutral text-neutral-content">
                <div class="navbar-start">
                    <a class="btn btn-ghost normal-case text-xl">Demo API v3</a>
                </div>
                <div class="navbar-end">
                    <button class="btn btn-ghost btn-circle">
                        <div class="indicator">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z" />
                            </svg>

                            <span id="connection-indicator" class="badge badge-xs badge-error indicator-item"></span>
                        </div>
                    </button>
                </div>
            </div>
        </header>
        <main class="flex flex-col items-center flex-grow">
            <div class="grid grid-cols-3 gap-4 w-4/5">
                <div class="col-span-2 bg-shadow shadow">
                    <div>
                        <div class="mx-auto py-6 px-4">
                            <h1 class="text-3xl font-bold tracking-tight text-white-900">Tickers</h1>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="stats shadow">

                            <div class="stat">
                                <div class="stat-title">BTCUSDT</div>
                                <div id="btcusdt-ticker" class="stat-value">{{ tickers["BTCUSDT"] }}</div>
                                <div class="stat-actions">
                                    <button class="btn btn-sm btn-error"
                                        onclick="toogleSymbolLiquidity('BTCUSDT', false)">Clear</button>
                                    <button class="btn btn-sm btn-info"
                                        onclick="toogleSymbolLiquidity('BTCUSDT', true)">Run</button>
                                </div>
                            </div>

                        </div>
                        <div class="stats shadow">

                            <div class="stat">
                                <div class="stat-title">BTCBUSD</div>
                                <div id="btcbusd-ticker" class="stat-value">{{ tickers["BTCBUSD"] }}</div>
                                <div class="stat-actions">
                                    <button class="btn btn-sm btn-error"
                                        onclick="toogleSymbolLiquidity('BTCBUSD', false)">Clear</button>
                                    <button class="btn btn-sm btn-info"
                                        onclick="toogleSymbolLiquidity('BTCBUSD', true)">Run</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="bg-shadow shadow">
                    <div>
                        <div class="mx-auto py-6 px-4">
                            <h1 class="text-3xl font-bold tracking-tight text-white-900">Balances</h1>
                        </div>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="table table-compact w-full">
                            <thead>
                                <tr>
                                    <th>Asset</th>
                                    <th>Free</th>
                                    <th>Locked</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for balance in balances %}
                                <tr>
                                    <th>{{ balance["asset"] }}</th>
                                    <td>{{ balance["free"] }}</td>
                                    <td>{{ balance["locked"] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="flex flex-col w-4/5 bg-shadow shadow">
                <div>
                    <div class="mx-auto py-6 px-4">
                        <h1 class="text-3xl font-bold tracking-tight text-white-900">Orders</h1>
                    </div>
                </div>
                <div class="overflow-x-auto w-full">
                    <table id="orders-table" class="table w-full">
                        <!-- head -->
                        <thead>
                            <tr>
                            <tr>
                                <th>Ticker</th>
                                <th>Side</th>
                                <th>Price</th>
                                <th>Size</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="toast" class="toast">
            </div>
        </main>
        <footer class="footer footer-center p-4 bg-base-300 text-base-content">
            <div>
                <p>Made by Urbano</p>
            </div>
        </footer>
    </div>

    <script>
        // TODO: Load the script from public folder
        function handle_event(event) {
            // Ugly code here, can be improve with a dict/map 
            if (event.event_type == 'ticker') {
                update_ticker(event)
            }
        }

        window.addEventListener("DOMContentLoaded", () => {
            var ws = new WebSocket("ws://localhost:9001/ws")

            ws.onmessage = function (event) {
                try {
                    handle_event(JSON.parse(event.data))
                } catch (e) {
                    console.log(e)
                }
            };

            setTimeout(function () {
                if (ws.readyState !== WebSocket.CLOSED) {
                    document.getElementById("connection-indicator").classList.add('badge-success');
                    document.getElementById("connection-indicator").classList.remove('badge-error');
                }
                addToast("Websocket connection established")
            }, 1000);

        })

        function update_balances(data) {
            console.log("Updating balances")
        }

        function update_orders(data) {
            console.log("Updating orders")

        }

        function update_ticker(event) {
            console.log("Updating tickers")
            let { symbol_id, price } = event
            var target = false
            // Ugly code here :D
            if (symbol_id == "BTCBUSD") {
                var target = "btcbusd-ticker"
            } else if (symbol_id == "BTCUSDT") {
                var target = "btcusdt-ticker"
            }

            if (target) {
                document.getElementById(target).innerHTML = (Math.round(parseFloat(price) * 100) / 100).toFixed(2)
            }

        }

        function generateId() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }

        function addToast(message) {
            var toast = document.getElementById("toast")
            var newAlert = document.createElement("div")
            newAlert.innerHTML = `<div class='alert alert-info'><div><span>${message}</span></div></div>`
            toast.appendChild(newAlert)
            setTimeout(function () {
                toast.removeChild(newAlert);
            }, 4000);
        }

        const BASE_URL = 'http://localhost:9001'
        function toogleSymbolLiquidity(symbol_id, state) {
            let method = (state ? "POST" : "DELETE")
            let req = new Request(`${BASE_URL}/symbol/${symbol_id}`, {
                method: method,
            });
            fetch(req)
                .then((response) => {
                    console.log(response)
                })
                .catch((error) => {
                    console.error('Error at fetch:', error)
                });
        }

    </script>
</body>

</html>